body,
.mainContainer,
.displayGrid,
.gridRow {
    display: grid;
}

body {
    grid-template-rows: repeat(3, auto);

    height: 95vh;
    min-height: 500px;

    justify-items: center;
    align-content: center;

    gap: 50px;
}

.mainContainer {
    grid-template-columns: 300px max-content 300px;

    justify-items: center;
    align-items: center;
}

.playerOneName,
.playerTwoName {
    margin-bottom: 0;
}

.playerOneNameEdit,
.playerTwoNameEdit {
    margin-top: 0;

    font-size: 14px;
}

.displayGrid {
    grid-template-rows: repeat(3, 150px);
}

.gridRow {
    grid-template-columns: repeat(3, 150px);
}

.gridRow + .gridRow {
    border-top: 5px solid black;
}

.gridRow > div {
    width: 150px;
    height: 150px;
}

.gridRow > div + div {
    border-left: 5px solid black;
}